<div class="container">
<div class="Header">
    <label for="lblhero">Digite o nome do Herói</label>
    <input type="text" name="txthero" id=""/>
    <button> Add hero</button>
</div>

<div class='heroes'> 

<ul>
    <li *ngFor="let v of heros">{{ v }}</li>
</ul>

</div>
<div class='card-hero'>
    <div>
        <img src="capitao-america.jpg" alt=" " class="photo"/>

        <h2>{{ hero.nome}} </h2> 
   </div>
   <div class="content"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
</div>

</div>