<div class="container">
    <!-- ----------- header!---------------- -->
    <div class="header1">
        <h2>dashboard</h2>
        <i class='bx bx-menu'></i>
    </div>
    <!-- -------fim1----- -->


    <!-- ----------header2----------- -->
    <div class="header2">

        <div class="box-esq">
            <i class='bx bxs-bell'></i>
            <i class='bx bxs-envelope'></i>
            <i class='bx bxs-cog'></i>
        </div>


        <div class="box-dir">
            <i class='bx bx-search-alt-2'></i>
            <i class='bx bxs-rocket'></i>
        </div>

    </div>

    <!-- -----------fim-------- -->

    <!-- ----------MENU------------- -->

    <div class="menu">
        <ul>
            <li><i class='bx bxs-dashboard'></i><a href="#"> dashboard</a></li>
            <li><i class='bx bxs-analyse'></i><a href="#"> Análise</a></li>
            <li><i class='bx bx-task'></i><a href="#">Todo List</a></li>
            <li><i class='bx bxs-group'></i><a href="#">Equipe</a></li>
            <li><i class='bx bxs-message-square-detail'></i><a href="#">Inbox</a></li>
            <li><i class='bx bxs-star'></i><a href="#">Prioridades</a></li>

        </ul>

    </div>

    <!-- -------------CONTENT-------------- -->

    <div class="content">


        <div class="ad">
            <div class="img">Imagem</div>
            <div class="graph">Gráfico</div>
        </div>

        <section>
            <div class="box1">
                <div class="title">
                    <button>
                        <i class='bx bx-plus' undefined></i>
                    </button>

                    <span>Membros do time</span>
                </div>
                <div class="member">
                    Membros
            </div>
            <div class="title">
                <button>
                    <i class='bx bx-plus' undefined></i>
                </button>

                <span>Atividades</span>
            
            <div class="box2"></div>
            </section>
    </div>

</div>