
<div class="container">

   <!-- ----------- header!---------------- -->
    <div class="header1">
        <h2>dashboard</h2>
        <i class='bx bx-menu'></i>
    </div>
    <!-- -------fim1----- -->


<!-- ----------header2----------- -->
    <div class="header2">

        <div class="box-esq">
            <i class='bx bxs-bell' ></i>
            <i class='bx bxs-envelope' ></i>
            <i class='bx bxs-cog' ></i>
        </div>


        <div class="box-dir">
            <i class='bx bx-search-alt-2' ></i>
            <i class='bx bxs-rocket' ></i>
        </div>

    </div> 

    <!-- -----------fim-------- -->

<!-- ----------MENU------------- -->

    <div class="menu">
    <ul>
        <li><a href="#">dashboard</a></li>
        <li><a href="#">charts</a></li>
        <li><a href="#">tables</a></li>
        <li><a href="#">forms</a></li>
        <li><a href="#">UI elements</a></li>

    </ul>

    </div>

<!-- -------------CONTENT-------------- -->

    <div class="content">
        <div class="overview">
            <div class="box-esq">
                <h2>Overview</h2>
            </div>
    
            <div class="box-dir">
                <div class="today">today</div>
                <div class="month">month</div>
                <div class="year">year</div>
                <button>Log out</button>
            </div>

        </div>



        <div class="cards">


        </div>

    </div>


</div>